.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

#splash img {
  width: 32.5%;
}

#splash {
  text-align: center;
}



//USER CALENDAR
#userPanel {
  width: 20%;
  outline: 1px solid black;
  float: left;
  margin-left: 0.75%;
  text-align: center;
  background-color: #e57373;
}
#userImg {
  border-radius: 100px;
  border: 1px solid-white;
  max-height: 250px;
  max-width: 100%;
}
#calendar {
  width: 75%;
  margin-right: 2.5%;
  float: right;
}

#modal1 {
  text-align: center;
}
#modal2 {
  text-align: center;
}
